{deps, [
        {jsx, {git, "https://github.com/talentdeficit/jsx", {branch, "v2.9.0"}}},
        {clique, {git, "https://github.com/emqx/clique", {branch, "v0.3.11"}}},
        {emqx, {git, "https://github.com/emqx/emqx", {branch, "emqx30"}}}
       ]}.

{edoc_opts, [{preprocess, true}]}.
{erl_opts, [warn_unused_vars,
            warn_shadow_vars,
            warn_unused_import,
            warn_obsolete_guard,
            debug_info,
            {parse_transform}]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, deprecated_function_calls,
               warnings_as_errors, deprecated_functions]}.
{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.
